@import './../../variables';


.table-graph-wrapper {
    height: 45vh;
    @include table_background_gradient;
    margin: .2rem .2rem .2rem .2rem;
}

.maximise-wrapper {
    @include maximise-wrapper;
}

.switcher-wrapper {
    @include switcher-wrapper;
}

.maximise-style {
    margin: 0 auto !important;
}
