@import './../../variables';


.table-graph-wrapper {
    height: 40vh;
    @include table_background_gradient;
    margin: .5rem .5rem .5rem .5rem;
}

.maximise-wrapper {
    display: flex;
    justify-content: flex-end;
}
