@import './../../variables';

.total-cases-wrapper {
    height: 20vh;
    margin: .1rem .1rem .1rem .1rem;
    @include table_background_gradient;
}

.total-cases-title {
    color: #FFFFFF;
    text-shadow: 3px 5px 2px #474747;
    text-align: center;
    font-size: 1.5rem;
}

.total-cases-count {
    color: #FFFFFF;
    text-shadow: 3px 5px 2px #474747;
    text-align: center;
    font-size: 1.5rem;
}

.country-name-wrapper {
    height: 2vh;
}
