@import './../../variables';

.table2 {
    height: 86vh;
    @include table_background_gradient;
}

.third .maximise-wrapper {
    @include maximise-wrapper;
    //justify-content: space-between;
}

// .third .country-name-wrapper {
//     margin-right: 0;
// }

.third .switcher-wrapper {
    @include switcher-wrapper;
    //margin-right: 0;
}

.select-country {
    color: rgb(255, 255, 255);
    background: transparent;
    border: none;
    outline: none;
    width: 9rem;
}

.maximise-style {
    margin: 0 auto;
}

.third .country-name-wrapper {
    display: none;
}
// .table-head thead {
//     border-top: none !important;
// }

.table-point {
    color: #000;
    font-size: 0.7rem;
    background: transparent;
    border: none;
    outline: none;
}

.table-cell {
    color: #fff;
}

.title-wrapper {
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: flex-start;
    align-items: center;
}

.title-wrapper span {
    margin-right: 0.5vw;
}

.btn-outline-secondary {
    padding: 0 0 0 0.5vw !important;
    border-color: rgba(0,0,0,0)!important;
}

.btn-outline-secondary:hover {
    background-color: rgba(0,0,0,0)!important;
    transform: scale(1.1);
}

.select-country {
    width: 5vw;
    margin-bottom: 5px;
}

thead {
    width: 100%;
}


// .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
//     box-shadow: 0 0 0 0.2rem  rgba(0,0,0,0)!important;
// }

// .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
//     box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0) !important;
// }

// .btn-outline-secondary:focus, .btn-outline-secondary.focus {
//     box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0) !important;
// }

.input-group {
    position: absolute;
    top: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 70%;
}

.input-group {
    margin-top: 0;
}

.flag {
    height: 2vh !important;
}

.keyboard {
    color: white;
}

img {
    margin-right: 0.5vw;
    margin-left: 0.2vw;
}
// .table-head,
// .wrapper-countries {
//     position: absolute;
//     // width: 15.6vw;
//     top: 0;
// }

// .table-head {
//     background-color: rgba(25, 128, 189, 1);
//     margin-top: 3rem;
//     width: 15.6vw;
// }

// .table-body {
//     margin-top: 4rem;
// }

// .table-country {
//     margin-top: 5.3rem;
// }
