@import './../../variables';
.table2 {
    height: 86vh;
    @include table_background_gradient;
}

.maximise-wrapper {
    @include maximise-wrapper;
}

.switcher-wrapper {
    @include switcher-wrapper;
}

.select-country {
    color: rgb(255, 255, 255);
    background: transparent;
    border: none;
    outline: none;
    width: 9rem;
}

.maximise-style {
    margin: 0 auto;
}

.table-point {
    color: #000;
    font-size: 0.7rem;
    background: transparent;
    border: none;
    outline: none;
}

.table-cell {
    color: #fff;
}

.title-wrapper {
    display: flex;
    color: rgb(255, 255, 255);
}

.btn-outline-secondary {
    padding: 0 0 0 0.5vw !important;
    border-color: rgba(0,0,0,0)!important;
}

.btn-outline-secondary:hover {
    background-color: rgba(0,0,0,0)!important;
    transform: scale(1.1);
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem  rgba(0,0,0,0)!important;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0) !important;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0) !important;
}

.input-group {
    position: absolute;
    top: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 70%;
}

.input-group {
    margin-top: 0;
}

.flag {
    height: 2vh !important;
}

.keyboard {
    color: white;
}

