@import './../../variables';

.navbar {
    background: #06CE00!important;
    background: linear-gradient(to bottom, #06CE00 0%, #003804 100%)!important;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}


.navbar-brand {
    font-size: 1.5rem;
    color: #FFFFFF!important;
    text-shadow: 3px 5px 2px #474747;

}