.leaflet-container {
  background: radial-gradient(ellipse at center, rgba(8, 224, 211, 0.9) 0%, rgba(25, 128, 189, 0.9) 51%, rgba(0, 197, 148, 0.8) 100%);
}

.leaflet-tooltip {
	padding: 6px;
	background-color: #24bb1f;
	border: 2px solid #6bfc66;
	border-radius: 5px;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}

.leaflet-interactive:hover {
	fill: #ee3838;
}

@media (max-width: 1024px) {
  .map-container {
    height: 40vh !important;
  }
}
