@import './../../variables';


a {
    outline: none;
    text-decoration: none;
    position: relative;
    color: #fff;
    line-height: 1.2rem;
    font-weight: bold;
}

a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    text-decoration: none;
    color: rgb(19, 41, 61);
    text-shadow: #fff;
    transition: 1s;
}

.footer {

    @include table_background_gradient;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    min-height: 5rem;
}

.copyright-title {
    color: #fff;
    user-select: none;
}

.footer-copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
}

.link-gh{
  padding-left: 25px;
}

.link-gh::before{
 display: block;
 position: absolute;
 content: '';
 color: #fff;
 top: 0;
 width: 20px;
 height: 20px;
 background-image: url('./../../assets/github-logo.svg');
 background-size: contain;
}

.link-rs{
  padding-left: 55px;
  margin-right: 30px;
}

.link-rs::before{
 display: block;
 position: absolute;
 content: '';
 width: 50px;
 height: 20px;
 top: -10px;
 left: 0;
 background-image: url('./../../assets/rs-logo.svg');
 background-repeat: no-repeat;
 background-size: contain;
 transition: 1s;
}


@media (max-width: 768px) {

    .footer-copyright {
        width: 30%
    }

}

@media (max-width: 375px) {
    .footer {
        margin-top: 1rem;
    }

    .copyright-title {
        font-size: 0.7rem;
    }

    .footer-copyright {
        font-size: 0.7rem;
        width: 66%
    }
}
