.maximise-btn {
    font-family: Material Icons;
    font-size: 1.6rem;
    padding: 0 0.4rem 0 0.4rem !important;
}


.btn-primary {
    color: #fff!important;
    background-color: #005716!important;
    border-color: #1eff00!important;
}
.btn-primary:hover {
    color: #fff!important;
    background-color: #1eff00!important;
    border-color: #005716!important;
}

