body{
  margin: 0 auto;
  background-image: url('./assets/covid-back.jpg');
}




//------------------------HEADER
.navbar{
  background-color: $background-color-1;
}



.graph{
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ----------------FOOTER
.page-footer {
  background-color: rgba(44, 138, 138, 0.5) !important;
}
.list-unstyled a{
  text-decoration: none !important;
  color: $color-1;
}
.list-unstyled a:hover{
  text-decoration: none !important;
  color: $color-2;
}
.footer-ul ul{
  text-decoration: none;
  padding-inline-start: 0 !important;
}
.footer-ul li{
  list-style: none;
}
#text-column-2{
  padding-left: 50px;
}
.footer-copyright .text-right .py-3{
  margin-right: 50px;
}


@media (min-width: 1200px) {
    .body{
        width: 1199px;
        margin: 0 auto;
        background-color: rgba(42, 163, 163, 0.3);
    }
  }




@media (max-width: 1024px) {
    .row {
        flex-wrap: wrap;
    }

}



@media (max-width: 991px) {
  .container-fluid{
      padding: 0 20px 0 20px !important;
  }
  #text-column-1{
      padding: 0 20px 0 20px !important;
  }
  #text-column-2{
      padding: 0 20px 0 20px !important;
  }
  #text-column-3{
      padding: 0 20px 0 20px !important;
  }

  .column-1 {
    order:1;
    }

    .column-2 {
    order:0;
    }
}




