@import '_variables';
@import 'App';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-light {
    background-color: rgba(214, 29, 29, 0)!important;
}

.col-md-2.d-md-block.bg-light1 {
    color: rgb(214, 29, 29)!important;
    flex-wrap: wrap!important;
}

.table-countries {
    margin-top: 1rem;
}

.column-1,
.column-2,
.column-3 {
    padding-left: 6px!important;
    padding-right: 6px!important;
}
