.first-wrapper-btns {

    $label-width: 100px;
    $label-height: 20px;



    .wrapper {
        position: relative;
        left: 50%;
        margin-left: - $label-width / 2;
        top: 50%;
        margin-top: - $label-height / 2;
    }

    label {
        display: block;
        left: 0px;
        top: 0;
        position: relative;
        width: $label-width;
        height: $label-height;
        z-index: 10;
        line-height: $label-height;
        font-weight: bold;
        background: #303030;
        -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        cursor: pointer;
    }

    label:after {
        content: "ON";
        width: $label-width / 2;
        height: $label-height;
        position: absolute;
        left: 0px;
        top: 0px;
        display: block;
        background: #00CCFF;
        -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        cursor: pointer;
    }

    .checkbox {
        display: none;
    }

    :checked + label {
        left: 0px;
    }

    :checked + label:after {
        left: $label-width / 2;
        background: #FC6666;
        content: "OFF";
    }
}
